@model IEnumerable<GroupCapstone.Models.Order>

@{
    ViewData["Title"] = "Index";
}

@*Do not need Order Picked Or Order Confirmed Links here. Check boxes are enough.*@ 
<partial name="_LoginPartial" class=""/>
<h1 class="heading-primary--main">Orders</h1>


@* <table class="">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPicked)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @item.Date.DayOfWeek @item.Date.Month/@item.Date.Day (@item.Date.Hour.ToString("00"):@item.Date.Minute.ToString("00"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCompleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPicked)
                </td>
                <td>

                    <a asp-action="OrderDetailsIndex" asp-route-id="@item.Id">Details</a>
                    <a asp-action="ConfirmOrderComplete" asp-route-id="@item.Id">Complete Order</a>
                    <a asp-action="ConfirmOrderPicked" asp-route-id="@item.Id">Pick Order</a>

                </td>
            </tr>
        }
    </tbody>
</table> *@
<section class="section-orders">
    <div>

@foreach (var item in Model) {
    <div class="">
        <div class="orders-content">
            <div class="orders-box">
                    Order # @Html.DisplayFor(modelItem => item.Id) |

                    @item.Date.DayOfWeek @item.Date.Month/@item.Date.Day (@item.Date.Hour.ToString("00"):@item.Date.Minute.ToString("00")) |

                    @Html.DisplayFor(modelItem => item.TotalPrice) |
                
                    @Html.DisplayFor(modelItem => item.IsCompleted) |
                
                    @Html.DisplayFor(modelItem => item.IsPicked) |
                
               
                <a asp-action="OrderDetailsIndex" asp-route-id="@item.Id" class="orders-box__button">Details</a>
                
            </div>
        </div>
    </div>
}
</section>