@model IEnumerable<GroupCapstone.Models.Order>

@{
    ViewData["Title"] = "Index";
}
<partial name="_LoginPartial" class=""/>
<h1 class="heading-primary--main">Index</h1>


<table class="">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPicked)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCompleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPicked)
                </td>
                <td>

                    <a asp-action="OrderDetailsIndex" asp-route-id="@item.Id">Details</a>
                    <a asp-action="ConfirmOrderComplete" asp-route-id="@item.Id">Complete Order</a>
                    <a asp-action="ConfirmOrderPicked" asp-route-id="@item.Id">Pick Order</a>

                </td>
            </tr>
        }
    </tbody>
</table>
@*<section class="section-products">
    <div>

@foreach (var item in Model) {
    <div class="row">
        <div class="col-1-of-4">
            <div class="products-box">

                <h3 class="heading-tertiary u-margin-bottom-small">@Html.DisplayFor(modelItem => item.Name)<br>@Html.DisplayFor(modelItem => item.ProductCategory)</h3>
                <p class="projects-box__text">
                    @Html.DisplayFor(modelItem => item.Price)
                </p>
                <p class="projects-box__text">
                     @Html.DisplayFor(modelItem => item.Details)
                </p>
                <button class="btn" asp-action="Details" asp-route-id="@item.Id">Details</button>
                <button class="btn" asp-action="AddToCart" asp-route-id="@item.Id">Add To Cart</button>
            </div>
        </div>
    </div>
}
</section>*@