@model IEnumerable<GroupCapstone.Models.OrderOrderDetailProductVM>

@{
    ViewData["Title"] = "OrderDetailsIndex";
}

@*Buttons for Confirm Picked & Confirmed Order Complete should be on this page.*@
<div class="comp-pick--container">
    <a asp-action="ConfirmOrderComplete" class="">Complete Order</a>
    <a asp-action="ConfirmOrderPicked" class="">Pick Order</a>
    <a asp-action="Index" class="">Back to Orders</a>
</div>

<h1 class="heading-primary--main minor-page">OrderDetails</h1>

<table class="form">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.OrderVM.Id)</th>
            <th>@Html.DisplayNameFor(Model => Model.ProductVM.Name)</th>
            <th>@Html.DisplayNameFor(Model => Model.OrderDetailsVM.Quantity)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(ModelItem => item.OrderVM.Id)</td>
            <td>@Html.DisplayFor(ModelItem => item.ProductVM.Name)</td>
            <td>@Html.DisplayFor(ModelItem => item.OrderDetailsVM.Quantity)</td>
            
        </tr>
        
}
    </tbody>
</table>
