@model IEnumerable<GroupCapstone.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h1>Index</h1>

<section class="section-products">
    <div>

@foreach (var item in Model) {
    <div class="row">
        <div class="col-1-of-4">
            <div class="products-box">
                <div class="products-box__image">
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </div>

                <h3 class="heading-tertiary u-margin-bottom-small">@Html.DisplayFor(modelItem => item.Name)<br>@Html.DisplayFor(modelItem => item.ProductCategory)</h3>
                <p class="projects-box__text">
                    @Html.DisplayFor(modelItem => item.Price)
                </p>
                <p class="projects-box__text">
                     @Html.DisplayFor(modelItem => item.Details)
                </p>
                <button class="btn" asp-action="AddToCart" asp-route-id="@item.Id">Add To Cart</button>
                <button class="btn" asp-action="Details" asp-route-id="@item.Id">Details</button>
            </div>
        </div>
    </div>
}
</section>